<h1>This is the Page for all your Albums</h1>

<% current_user.albums.each do |album| %>
	<div>
		<%= link_to album.name, album_path(album) %>
	</div>
<% end %>

<h2><%= link_to "New Album", new_album_path %></h2>