<%= render "shared/nav" %>


<div class="jumbotron">

	<h1><%= current_user.name %>'s Adventures</h1>

		<div>
			<% current_user.albums.each do |album| %>
				<div>
					<%= link_to album.name, album_path(album) %>
				</div>
			<% end %>
		</div>

	<button class="createalbum"><%= link_to "Create New Album", new_album_path %></h2></button>
</div>