// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body 
{

	text-align: center;
	background-image: url(6824266-hd-background.jpg);

}
.row 
{
}
.nav-button-left
{
	float: left;
}
.nav-button-right
{
	float: right;

}

.jumbotron
{
	opacity: 0.8;
	font-family: 'Indie Flower', cursive;


}


